<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>weixin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>
			org.liufeng.weixin.servlet.InitServlet
		</servlet-class>
    <init-param>
      <param-name>appid</param-name>
      <param-value>wx3739028c4d48b287</param-value>
    </init-param>
    <init-param>
      <param-name>appsecret</param-name>
      <param-value>c4e7a6a960d0e2fed949584845af2593</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>coreServlet</servlet-name>
    <servlet-class>
			org.liufeng.course.servlet.CoreServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coreServlet</servlet-name>
    <url-pattern>/coreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wechat</servlet-name>
    <servlet-class>zmj.wx.wechat.WechatCallbackApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wechat</servlet-name>
    <url-pattern>/wx/laozhao136786874</url-pattern>
  </servlet-mapping>
</web-app>